<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Ticket_Edit_View"
            android:exported="false" />
        <activity
            android:name=".MyTickets"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".UsersActivity"
            android:exported="false" />
        <activity
            android:name=".TicketNormalActivity"
            android:exported="false" />
        <activity
            android:name=".CreateActivity"
            android:exported="false" />
        <activity
            android:name=".CreateTicketActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>